name: Deploy iOS production build to TestFlight
on:
  push:
    branches:
      - main

jobs:
  build_and_upload_to_app_store:
    name: Build and upload iOS app to AppStore
    runs-on: macOS-12
    env:
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      APPSTORE_CONNECT_API_KEY: ${{ secrets.APPSTORE_CONNECT_API_KEY }}
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      REST_API_ENDPOINT: ${{ secrets.REST_API_ENDPOINT }}
      GITHUB_RUN_NUMBER: ${{ secrets.GITHUB_RUN_NUMBER }}
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v3.3.0

    - name: Install SSH key
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Set up Flutter version
      uses: subosito/flutter-action@v1
      with:
        flutter-version: '3.3.8'

    - name: Get Flutter dependencies
      run: flutter pub get

    - name: Run code generator
      run: flutter packages pub run build_runner build --delete-conflicting-outputs

    - name: Install iOS dependencies
      run: cd ./ios && bundle install && bundle exec pod install

    - name: Match AppStore
      run: cd ./ios && bundle exec fastlane sync_appstore_production_signing

    - name: Deploy production build to AppStore
      run: cd ./ios && bundle exec fastlane build_and_upload_app_store_connect_app
